.card-img-top {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .card-img-top {
    height: 14vw;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .card-img-top {
    height: 14vw;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .card-img-top {
    height: 19vw;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .card-img-top {
    height: 38vw;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .card-img-top {
    height: 52vw;
  }
}
